<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <form class="mb-5 mt-5" id="boardForm">
        <div class="pb-5"></div>
        댓글쓰기
        <input type="text" class="form-control" id="boardInput">
        <button type="submit" class="btn btn-danger" id="submitComment">확인</button>
    </form>
    <div class="commentList">
        <ul class="list-group">
            {% for board in boards %}
            <li class="list-group-item" id="board-{{board.id}}">
                <span class="boardItem">{{ board.contents}}</span>
                <span class="float-right"><button type="button" class="btn btn-danger editBoard"
                        data-id="{{board.id}}">수정</button></span>
                <span class="float-right"><button type="button" class="btn btn-danger deleteBoard"
                        data-id="{{board.id}}">삭제</button></span>
            </li>
            {% endfor %}
        </ul>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            // 수정 버튼을 눌렀을 떄 실제 DB에서 수정 
            //수정 버튼을 찾아서 이벤트를 등록 해야 한다 .
            $(document).on('click', '.editBoard', function () {
                var id = $(this).data('id');
                var contents = $('#board-' + id + ' .boardItem').text();
                $('#boardInput').val(contents);
                $('#submitComment').data('data-method', 'edit');
                $('#submitComment').data('data-id', id);

            })





            //삭제 버튼을 눌렀을때 실제로 db에서 삭제하기 

            $(document).on('click', '.deleteBoard', function () {
                var id = $(this).data('value');
                $.ajax({
                    url: '{% url "delete_boards" %}',
                    method: 'POST',
                    data: {
                        board_id: id,
                        csrfmiddlewaretoken: '{{csrf_token}}'
                    },
                    success: function (data) {
                        alert("삭제 성공");
                        $('#board-' + data.board_id).hide()
                    },
                    error: function (data) {
                        alert("삭제 실패");
                    }
                })

            })
            //삭제 버튼을 눌러을때 
        })







        // 댓글 쓰고 실제로 db에 등록 하기 
        // boardform이 제출 했을떄 
        $('#boardForm').on('submit', function (event) {
            //페이지가 바뀌지 않는다 .
            event.preventDefault();
            console.log("hello");
            //실제 db에 등록이 될수 있게끔 ajax 요청을 만들어줌
            var board = $('#boardInput').val();

            $('#boardInput').val('');
            if ($('#submitComment').data('method') == 'edit') {
                var id = $('#submitComment').data('id');
                console.log(id)
                $.ajax({
                    url: '{% url "edit_boards" %}',
                    method: 'POST',
                    data: {
                        board_id: id,
                        contents: board,
                        csrfmiddlewaretoken: '{{csrf_token}}'
                    },
                    success: function (data) {
                        $('#board-' + id + ' .boardItem').text(board);
                        //확인 버튼에 달려있는 속성(data-method)을 삭제해야 함 
                        $('submitComment').removeData('method');
                        $('submitComment').removeData('id');

                    },
                    error: function (data) {
                        alert("실패");

                    }
                })
            } else {
                $.ajax({
                    url: '{% url "submit_boards" %}',
                    method: 'POST',
                    data: {
                        board: board,
                        csrfmiddlewaretoken: '{{csrf_token}}'
                    },
                    success: function (data) {
                        alert("성공");
                        $('.list-group').prepend(data);
                    },
                    error: function (data) {
                        alert("실패");
                    }
                })
            }


        })



















        // $(function(){
        //     //댓글 달기 
        //     //댓글 쓰기 버튼을 눌렸을 때 ,
        //     $('#submitComment').on('click',function(){
        //         var position  = $('ul.list-group');
        //          //li.list-group-item 요소를 만들어서 
        //         var input = $('#commentForm').val(); 
        //         if(input == ''){
        //             alert("댓글을 입력해 주세요 ");
        //             return;
        //         }
        //         $('#commentForm').val('');
        //         var element = 
        //         `<li class="list-group-item" id="comment-1">
        //            ${input} <span class="float-right"><button type="button" class="btn btn-danger">입력</button></span>
        //                                      <span class="float-right"><button type="button" class="btn btn-danger delete-comment" value="1">삭제</button></span>
        //         </li>`
        //         position.prepend(element);
        //     })






        //ul.list-group 붙여줌


        //     //이벤트 발생할 요소르 찾고 
        //     $(document).on('click','.delete-comment',function(){

        //         //이벤트가 발생 했을 경우 실행할 이벤트 
        //         console.dir($(this));
        //         var commentId = $(this).attr('value'); //이렇게 해야 jquery 쓸수 있다 .
        //         //1 commentid 로 삭제할 요소를 찾아서 지워줌 
        //        // $('#comment-'+commentId).hide();
        //         //2.이벤트가 발생한 친구로부터 부모르 찾아 지워 
        //         console.dir($(this).parents('.list-group-item').remove());
        //         //parents 자주씀  

        //         console.log(commentId);
        //         //현재 버튼을 누른 댓글이 삭제 되어야함 

        //     })

        // })




        //$(function(){

        //})
    </script>

</body>

</html>